%h2
  Edit #{resource_name.to_s.humanize}
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), 
    html: { method: :put, class: 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    .form-group
      = f.label :email, class: 'col-md-3 control-label'
      = f.input :email, required: true, autofocus: true, label:false, class: 'form-control', 
         wrapper_html: { class: 'col-md-4' }
    .form-group
      = f.label :firstname, class: 'col-md-3 control-label'
      = f.input :firstname, required: true, autofocus: true, label: false, class: 'form-control', 
          wrapper_html: { class: 'col-md-4' }
    .form-group
      = f.label :lastname, class: 'col-md-3 control-label'
      = f.input :lastname, required: true, autofocus: true, label: false, class: 'form-control', 
          wrapper_html: { class: 'col-md-4' }
    .form-group
      = f.label :about_me, class: 'col-md-3 control-label'
      = f.input :about_me, label: false, class: 'form-control', 
          wrapper_html: { class: 'col-md-4' }
    .form-group  
      = f.label :password, class: 'col-md-3 control-label'
      = f.input :password, autocomplete: 'off', hint: "leave it blank if you don't want to change it", 
          required: false, label: false, class: 'form-control', wrapper_html: { class: 'col-md-4' }
    .form-group
      = f.label :password_confirmation, class: 'col-md-3 control-label'
      = f.input :password_confirmation, required: false, label: false, class: 'form-control', 
          wrapper_html: { class: 'col-md-4' }
    .form-group
      = f.label :current_password, class: 'col-md-3 control-label'
      = f.input :current_password, required: true, label: false, class: 'form-control',
          hint: "we need your current password to confirm your changes", 
          wrapper_html: { class: 'col-md-4' }
    .form-group
      .col-md-offset-3
        = f.button :submit, 'Update', class: 'btn btn-success'
%h3 Cancel my account
%p
  Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
= link_to "Back", :back
