%h2 Sign up
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), 
    html: { class: 'form-horizontal' }) do |f|
  = f.error_notification
  .form-inputs
    .form-group
      = f.label :email, class: 'col-md-3 control-label'
      = f.input :email, required: true, autofocus: true, label:false, class: 'form-control', 
         wrapper_html: { class: 'col-md-4' }
    .form-group
      = f.label :firstname, class: 'col-md-3 control-label'
      = f.input :firstname, required: true, autofocus: true, label: false, class: 'form-control', 
          wrapper_html: { class: 'col-md-4' }
    .form-group
      = f.label :lastname, class: 'col-md-3 control-label'
      = f.input :lastname, required: true, autofocus: true, label: false, class: 'form-control', 
          wrapper_html: { class: 'col-md-4' }
    .form-group
      = f.label :about_me, class: 'col-md-3 control-label'
      = f.input :about_me, label: false, class: 'form-control', 
          wrapper_html: { class: 'col-md-4' }
    .form-group  
      = f.label :password, class: 'col-md-3 control-label'
      = f.input :password, required: true, label: false, class: 'form-control', 
          wrapper_html: { class: 'col-md-4' }
    .form-group
      = f.label :password_confirmation, class: 'col-md-3 control-label'
      = f.input :password_confirmation, required: true, label: false, class: 'form-control', 
          wrapper_html: { class: 'col-md-4' }
    .form-group
      .col-md-offset-3
        = f.button :submit, "Sign up", class: 'btn btn-success'