%h1 Listing Users
.row
  .col-md-4.col-md-offset-4
    %table.table.table-hover
      %thead
        %tr
          %th Name
          %th Email
          %th Reviews
          %th 
      %tbody      
        - users.each do |user|
          %tr
            %td= user.full_name
            %td= user.email
            %td.text-center
              %span.badge= user.reviews_count
            %td= link_to 'Show', user, class: 'btn btn-info btn-xs'