.row
  .col-md-11.col-md-offset-1
    %strong= user.full_name
    .h4 About me: 
    = user.about_me
%br    
.row
  .col-md-6.col-md-offset-3
    %table.table.table-hover
      %thead
        %tr
          %th Product
          %th Content
          %th Date
      %tbody
        - recent_reviews.each do |review|
          %tr 
            %td= review.product.title
            %td= review.short_content
            %td= review.created_at.strftime("%d-%m-%Y")    
%br
.row
  .col-md-12.text-center
    Last singned at:
    = user.last_sign_in_at
    From ip: 
    = user.last_sign_in_ip
 
= link_to 'Edit My Account', edit_user_registration_path  