%h2 Forgot your password?
= simple_form_for(resource, as: resource_name, url: password_path(resource_name), 
    html: { method: :post, class: 'form-horizontal' }) do |f|
  = f.error_notification
  .form-inputs
    .form-group
      = f.label :email, class: 'col-md-3 control-label'
      = f.input :email, required: true, autofocus: true, label:false, class: 'form-control', 
         wrapper_html: { class: 'col-md-4' }
  .form-group
    .col-md-offset-3
      = f.button :submit, "Send me reset password instructions", class: 'btn btn-success'
