%h2 Sign in
= simple_form_for(resource, as: resource_name, url: session_path(resource_name), 
    html: { class: 'form-horizontal' }) do |f|
  .form-group
    = f.label :email, class: 'col-md-3 control-label'
    = f.input :email, required: false, autofocus: true, label: false, class: 'form-control',
      wrapper_html: { class: 'col-md-4' }
  .form-group
    = f.label :password, class: 'col-md-3 control-label' 
    = f.input :password, required: false, label: false, class: 'form-control',
        wrapper_html: { class: 'col-md-4' }
  - if devise_mapping.rememberable?
    .form-group
      .col-md-offset-3
        .checkbox 
          %label
            = f.input_field :remember_me, as: :boolean, boolean_style: :inline
            Remember me 
  .form-group
    .col-md-offset-3
      = f.button :submit, "Sign in", class: 'btn btn-success'
      - if devise_mapping.recoverable?
        = link_to "Forgot your password?", new_password_path(resource_name)
