/*
 *= require_tree .
 *= require_self
*/

@import "bootstrap";
@import "font-awesome";
@import "star-rating.min";

.has-error {
  &.form-group {
    margin-bottom: 0px;
  }
}

nav a:hover { text-decoration: none; }
