.review {
  margin-bottom: 40px;
}

.review_wrapper {
  width: 353px;
  border: 2px #e77340 dotted;
  background-color: #d6f5f4;
  display: table;
  padding-top: 10px;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;


  -moz-box-shadow: -4px -3px 14px 13px #98dcc5;
  -webkit-box-shadow: -4px -3px 14px 13px #98dcc5;
  box-shadow: -4px -3px 14px 13px #98dcc5;

  .content {
    padding-bottom: 10px;
    border-bottom: 2px dashed;
  }

  .footer {
    text-align: right;
  }
}

.list {
  li {
    margin-bottom: 5px;
  }
}