= simple_form_for category, html: { class: 'form-horizontal' } do |f|
  .form-group
    = f.label :name, class: 'col-md-3 control-label'
    = f.input :name, label: false, class: 'form-control', wrapper_html: { class: 'col-md-4' }
  .form-group
    .col-md-offset-3
      = f.submit 'Save', class: 'btn btn-default'
