%h1 Listing categories
.row
  .col-md-5.col-md-offset-3
    %table.table.table-hover
      %thead
        %tr
          %th Name
          %th.text-center Products
          %th
          %th 
          - if current_user.admin?
            %th
            %th
      %tbody      
        - categories.each do |category|
          %tr
            %td.col-md-6= category.name
            %td.text-center
              %span.badge= category.products_count
            %td= link_to 'Show', category, class: 'btn btn-info btn-xs'
            %td= link_to 'Products', category_products_path(category), class: 'btn btn-default btn-xs'
            - if current_user.admin?
              %td= link_to 'Edit', edit_category_path(category), class: 'btn btn-success btn-xs'
              %td= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'

- if current_user.admin?
  .row
    .col-md-4.col-md-offset-4
      = link_to 'New Category', new_category_path
