%p#notice= notice
.row
  .col-md-6.col-md-offset-3
    %p
      %b Name:
      = category.name

    .list
      %ul.list-unstyled
        - category.products.each do |product|
          %li
            = link_to 'Show', category_product_path(category, product), class: 'btn btn-info btn-xs'
            = product.title

%p
  %h3 New product
  = render 'products/form'
- if current_user.admin?
  = link_to 'Edit', edit_category_path(category)
  \|
= link_to 'Back', categories_path, class: 'btn btn-primary'
