= simple_form_for [category, product], html: { class: 'form-horizontal' }  do |f|
  .form-group
    = f.label :title, class: 'col-md-3 control-label'
    = f.input :title, label: false, class: 'form-control', wrapper_html: { class: 'col-md-5' }
  .form-group
    = f.label :description, class: 'col-md-3 control-label'
    = f.input :description, label: false, class: 'form-control', wrapper_html: { class: 'col-md-5' }
  .form-group
    = f.label :price, class: 'col-md-3 control-label'
    = f.input :price, label: false, class: 'form-control', as: :string, wrapper_html: { class: 'col-md-5' },
      placeholder: 'Price fromats:  12 or 12.34 or 12.00 or 12,00'
  .form-group
    .col-md-offset-3
      = f.submit 'Save', class: 'btn btn-default'
