.row
  .col-md-8.col-md-offset-2
    %table.table.table-hover
      %thead
        %tr
          %th Title
          %th Description
          %th Price
          %th Avg Rating
          %th Category
      %tbody
        %td= product.title
        %td.col-md-6= product.description
        %td= product.price
        %td= product.average_rating
        %td= product.category.name