%h1 Listing products

.row
  .col-md-7.col-md-offset-2
    = link_to 'Create new product', new_category_product_path(category), class: 'btn btn-info btn-sm'
    %table.table.table-hover
      %thead
        %tr
          %th Title
          %th Description
          %th Price
          %th Avg Rating
          %th
          %th
          %th
      %tbody
        - products.each do |product|
          %tr
            %td= product.title
            %td.col-md-4= product.description
            %td= product.price
            %td= product.average_rating
            %td= link_to 'Show', category_product_path(product.category, product), class: 'btn btn-info btn-xs'
            - if current_user.is_product_owner?(product)
              %td= link_to 'Edit', edit_category_product_path(product.category, product), class: 'btn btn-success btn-xs'
              %td= link_to 'Destroy', category_product_path(product.category, product), 
                method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'
.row
  .col-md-10.col-md-offset-2
    = paginate products 