= render 'info'

%h3 Add review
= render 'reviews/form'

- if product.reviews.any?
  %h3 Current reviews
  = render reviews
  .col-md-9.col-md-offset-3
    = paginate reviews



- if current_user.is_product_owner?(product)
  = link_to 'Edit', edit_category_product_path(category.id, product.id)
  \|
= link_to 'Back', category_products_path, class: 'btn btn-primary'
