= simple_form_for [category, product, review], html: { class: 'form-horizontal' } do |f|
  .form-inputs
    .form-group
      = f.label :content, class: 'col-md-3 control-label'
      = f.input :content, label: false, class: 'form-control', wrapper_html: { class: 'col-md-5' }
    .form-group
      = f.label :rating, class: 'col-md-3 control-label'
      = f.input :rating, collection: 1..5, label: false, class: 'form-control', wrapper_html: { class: 'col-md-4' }
    .form-group
      .col-md-offset-3
        = f.submit 'Save', class: 'btn btn-default'