!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-default.navbar-static-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{ :'data-toggle'=> 'collapse', :'data-target' => 'navbar-collapse' }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %span.navbar-brand #{AppConfig.workshops_name}
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            - if current_user
              %li= link_to 'Categories', categories_path
              %li= link_to 'Users', users_path
          %p.navbar-text.navbar-right
            - if current_user
              %strong= link_to current_user.full_name, user_path(current_user)
              = link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-xs' do
                = fa_icon 'user-times', text: 'Logout', right: true 
            - else
              = link_to new_user_session_path, class: 'btn btn-primary btn-xs' do
                = fa_icon 'chevron-circle-down', text: 'Login', right: true
              = link_to new_user_registration_path, class: 'btn btn-primary btn-xs' do
                = fa_icon 'user-plus', text: 'Signup', right: true 
    .container-fluid
      .row
        .col-md-12
          - if flash[:alert]
            .alert.alert-warning.alert-dismissible{role: 'alert'}
              %button.close{:'data-dismiss' => 'alert', :'aria-label' => 'Close', type: 'button'}
                %span{:'aria-hidden' => 'true'} &times;
              %strong Warning!
              = flash[:alert]
              
          - if flash[:notice]
            .alert.alert-success.alert-dismissible{role: 'alert'}
              %button.close{:'data-dismiss' => 'alert', :'aria-label' => 'Close', type: 'button'}
                %span{:'aria-hidden' => 'true'} &times;
              %strong Notice!
              = flash[:notice]

          - if flash[:error]
            .alert.alert-danger.alert-dismissible{role: 'alert'}
              %button.close{:'data-dismiss' => 'alert', :'aria-label' => 'Close', type: 'button'}
                %span{:'aria-hidden' => 'true'} &times;
              %strong Error!
              = flash[:error]
      = yield
